<div class="gameboard {{langDir}}">

<div ng-show="currentLevel>0&&!updatingLevel">
<span class="levelHeader" ng-show="currentLevel>0"><h1>{{ 'LEVEL' | translate }} {{currentLevel}}</h1></span>
<div class="wordImageContainer">
 <div class="wordImageBackground" ng-click="imageClicked()"><img draggable="false" class="wordImage" src="img/{{wordImage}}"></div>
 </div>
 <div class="midSpaceBar1"></div>
 
 <div class="brokenWord" ng-hide="wordSolved">
 <div class="letterInWord" ng-repeat="letter in currentWord | displayWordForGame:extractedLetterIndex:solvedLetters:language track by $index">&nbsp;<span ng-class="letterCssVar" letter={{letter}} letterindex={{$index}} letter-drop-target>{{letter}}</span>
 </div>
 
 </div>
 <div class="solvedWord" ng-show="wordSolved">
 {{solvedWord}}
 </div>


 <div class="distractorsList">
<span ng-repeat="distractor in currentDistractors track by $index" class="outerDistractor" distractor={{distractor}}>
<span class="innerDistractor" ng-hide="wordSolved" ng-class="distractorCssVar" ng-click="letterClicked(distractor)" draggable-letter="true" distractor={{distractor}}>{{distractor}}</span>&nbsp;</span>
</div>

<div class="feedbackArea">
<span ng-show="feedbackVisible" ng-class="feedbackMessageCssVar">{{messageToPlayer}}</span><br>
<span ng-show="startButtonVisible"><button class="startButton" ng-click="startNextLevel()">{{'NEXT_LEVEL' | translate}}</button></span>
</div>
</div>

<!--
<div class="userFeedbackButton">
<a href=""> <img src="/img/feedbackButton.png" ng-click="openFeedbackDialog()"></a>
</div>
-->

<!--  <div ng-show="loggedIn && startButtonVisible && currentLevel==0 && is_words_backend_ready" class="initialStartButtonArea"><button class="initalStartButton"  ng-click="startGame()">{{'START' | translate}}</button></div>
-->
<div class="spinner {{langDir}}" ng-show="userNameSubmitted && (!is_words_backend_ready || !loggedIn)">
  <div class="spinner-container container1">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container2">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container3">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
</div>

<div ng-show="!loggedIn && language!=null" class="loginForm">
<form ng-submit="userLogin()">
{{'YOUR_NAME' | translate}}:&nbsp;<input type="text" name="firstName" ng-disabled="!firstSoundAvailable" ng-model="$parent.userFirstName" class="nameInput"><br>
<input type="submit" id="submit" value="{{'START' | translate}}" ng-disabled="userFirstName=='' || userFirstName==null" class="initialStartButton">
</form>
<div class=loginFeedback>{{loginFeedback | translate}}</div>
</div>

<div class="trampolineContainer {{langDir}}">
 <div class="score" ng-class="scoreCssVar">{{score}}</div>
 <div class="duck" ng-class="duckCssVar"><img draggable="false" ng-src='img/{{duckImage}}.png'></div>
<div class="trampoline" ng-class="trampolineCssVar" ></div>

<div class="spring" ng-class="springCssVar" ></div>
<div class="springBase"></div>
</div>
 </div>