<link rel="stylesheet" href="./bower_components/bootstrap/css/bootstrap.css">
<div>
Game Number:
	<select ng-change="selectGame()" ng-model="selectedGameId"
		ng-options="row.name for row in typesTableRows">
	</select> <br>
	<br>
Language: {{selectedGameId.language.languageCode}}
<br>
<br>	
</div>
<div>
Level Number:
	<select ng-model="selectedGameLevel"
		ng-options="row.levelIndex for row in levelsTableRows">
	</select> <br>
	<br>
	<div>
		Letter to complete: {{selectedGameLevel.letterNumToComplete}}
		<br><br>
		<table class="table table-condensed">
			<tr ng-repeat="wordInLevel in selectedGameLevel.wordsInLevel">
				<td class="col-md-1">{{wordInLevel.word.word}}</td>
				<td class="col-md-2">
				Distractors:
					<span ng-repeat="distractor in wordInLevel.distractors track by $index">{{distractor}}
					</span>
				</td>
				<td "col-md-1"><word-in-level-editor id="{{wordInLevel.id}}" distractors="wordInLevel.distractors">{{wordInLevel.id}}aaaaa</word-in-level-editor></td>
			</tr>
		</table>
	</div>
</div>
<div>
Choose word to add to this level:
	<select ng-model="selectedWord"
		ng-options="row.word for row in wordsTableRows">
	</select>
	<div>
	<span ng-show="newDistractors.length>0">Distractors:</span> <span ng-repeat="newDistractor in newDistractors track by $index"><input ng-model="newDistractors[$index]" value={{newDistractor}}></span>
	<button ng-click="addDistractor()">Add Distractor</button>
	</div>
	<div>
	<button ng-click="addWordToLevel()">Add to Level</button>
	</div>
</div>