
<p>This is the partial for view 1.</p>

<div>
  <table id=hor-zebra>
  <thead>
  <tr class="odd"><th>Name</th><th>Word</th><th>Duration</th><th>Wrong Selections</th></tr>
  </thead>
  <tbody ng-repeat="row in tableRows">
  <tr class={{$index%2==1?"odd":""}}><td>{{row.gameInstance.student.firstName}}</td><td>{{row.wordInLevel.word.word}}</td><td>{{row.duration}}</td>
 
  <td> 
  
  <div ng-repeat="distractor in row.wrongLetterSelections">
 {{distractor.letter}}\{{letterSeparator(row.wordInLevel.word.word,language)[distractor.index-1]}}
  </div>
 
  </td>

  </tr>
 </tbody>
  </table>
	

	   <a href="#/view3">Start The Game</a>
 	<br><br>

</div>

